extends layout

block content
  script.
    $(document).ready(function(){
      var data = [
        {
          label: 'Top 1-25',
          value: !{dista.percent},
          color: "#d9534f"
        },
        {
          label: 'Top 26-50',
          value : !{distb.percent},
          color : "#5cb85c"
        },
        {
          label: 'Top 51-75',
          value : !{distc.percent},
          color : "#428bca"
        },
        {
          label: 'Top 76-100',
          value : !{distd.percent},
          color : "#222"
        },
        {
          label: '101+',
          value : !{diste.percent},
          color : "#222"
        }
      ];
      var ctx = document.getElementById("wealthDonut").getContext("2d");
      new Chart(ctx).Doughnut(data);
    });
  .col-xs-12.col-md-8
    .tabpanel
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#balance', aria-controls='balance', role='tab', data-toggle='tab') Balance
        li(role='presentation')
          a(href='#received', aria-controls='received', role='tab', data-toggle='tab') Received
    .tab-content
      #balance.tabpanel.tab-pane.active
        include ./includes/rl_balance.jade
      #received.tabpanel.tab-pane
        include ./includes/rl_received.jade
  if show_dist == true
    .col-md-4.col-xs-12
      #summary-panel.panel.panel-default(style='margin-top:47px;')
        .panel-heading
          h3.panel-title #{settings.locale.rl_wealth}
        table.table.table-hover.table-bordered
          thead
            tr
              th
              th Amount (#{settings.symbol})
              th.text-center %
          tbody
            tr
              th
                div.pull-left(style='background-color:#d9534f;width:20px;height:20px;margin-right:6px;')
                span #{settings.locale.rl_top25}
              td #{parseFloat(dista.total).toFixed(8)}
              td.text-center #{parseFloat(dista.percent).toFixed(2)}
            tr
              th
                div.pull-left(style='background-color:#5cb85c;width:20px;height:20px;margin-right:6px;')
                span #{settings.locale.rl_top50}
              td #{parseFloat(distb.total).toFixed(8)}
              td.text-center #{parseFloat(distb.percent).toFixed(2)}
            tr
              th
                div.pull-left(style='background-color:#428bca;width:20px;height:20px;margin-right:6px;')
                span #{settings.locale.rl_top75}
              td #{parseFloat(distc.total).toFixed(8)}
              td.text-center #{parseFloat(distc.percent).toFixed(2)}
            tr
              th
                div.pull-left(style='background-color:#222;width:20px;height:20px;margin-right:6px;')
                span #{settings.locale.rl_top100}
              td #{parseFloat(distd.total).toFixed(8)}
              td.text-center #{parseFloat(distd.percent).toFixed(2)}
            tr
              th
                span #{settings.locale.total}
              td
              td.text-center #{(100 - parseFloat(distd.percent)).toFixed(2)}
      center
        canvas(id="wealthDonut", width="300", height="300")
  .row.footer-margin
